@model List<Curso>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card">
    <div class="card-header">
        <a class="btn btn-success" asp-action="Curso" asp-controller="Home" asp-route-idCurso="0">Agregar Curso</a>
    </div>
    <div class="card-body">
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID Curso</th>
                    <th>Nombre Curso</th>
                    <th>Descripcion</th>
                    <th>Duracion</th>
                    <th>ID Profesor asignado</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var curso in Model)
                {
                    <tr>
                        <td>@curso.CursoId</td>
                        <td>@curso.Nombre</td>
                        <td>@curso.Descripcion</td>
                        <td>@curso.DuracionHoras</td>
                        <td>
                            @if (curso.ProfesorId == null)
                            {
                                <a asp-action="AsignarProfesor" asp-controller="Home" asp-route-idCurso="@curso.CursoId" class="btn btn-success btn-sm">Asignar Profesor</a>
                            }
                            else
                            {
                                @curso.ProfesorId
                            }
                        </td>
                        <td>
                            <a asp-action="Curso" asp-controller="Home" asp-route-idCurso="@curso.CursoId" class="btn btn-primary btn-sm">Editar Curso</a>
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
